<main id="main" class="main">
    <div class="pagetitle">
       <h1>Perfil</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/pages/dashboard">Home</a></li>
             <li class="breadcrumb-item active">Perfil</li>
          </ol>
       </nav>
    </div>
    <section class="section profile">
       <div class="row">
          <div class="col-xl-4">
             <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                   <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                   <h2 class="mt-4">{{usuario.nombre +' ' +usuario.apellido }}</h2>
                   <h3 class="mt-2">{{usuario.email}}</h3>
                   </div>
             </div>
          </div>
          <div class="col-xl-8">
             <div class="card">
                <div class="card-body pt-3">
                   <ul class="nav nav-tabs nav-tabs-bordered">
                      <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Descripción general</button></li>
                      <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Perfil</button></li>
                      <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Cambiar Contraseña</button></li>
                  </ul>
                   <div class="tab-content pt-2">
                      <div class="tab-pane fade show active profile-overview" id="profile-overview">
                         <h5 class="card-title">Detalle del perfil</h5>
                         <div class="row">
                            <div class="col-lg-3 col-md-4 label ">Nombre completo</div>
                            <div class="col-lg-9 col-md-8">{{usuario.nombre +' ' +usuario.apellido }}</div>
                         </div>
                         <div class="row">
                           <div class="col-lg-3 col-md-4 label">Teléfono</div>
                           <div class="col-lg-9 col-md-8">{{usuario.telefono}}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Email</div>
                           <div class="col-lg-9 col-md-8">{{usuario.email}}</div>
                        </div>
                        <div class="row">
                           <div class="col-lg-3 col-md-4 label">Rol</div>
                           <div class="col-lg-9 col-md-8">{{rolNombre | uppercase}}</div>
                        </div>
                        <div class="row" *ngIf="usuario.idrol == 5">
                           <div class="col-lg-3 col-md-4 label">Dirección</div>
                           <div class="col-lg-9 col-md-8">{{usuario.direccion}}</div>
                        </div>
                        <div class="row" *ngIf="empresa">
                            <div class="col-lg-3 col-md-4 label">Empresa</div>
                            <div class="col-lg-9 col-md-8">{{empresa.nombre}}</div>
                        </div>
                        <div class="row" *ngIf="usuario.idrol == 5">
                           <div class="col-lg-3 col-md-4 label">Área</div>
                           <div class="col-lg-9 col-md-8">{{area.nombre}}</div>
                        </div>
                         
                      </div>
                      <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                        <form [formGroup]="formularioModificacion" class="row g-3" novalidate>
                           <div class="row">
                              <div class="col-md-6 mt-3">
                                 <div class="form-group">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" formControlName="nombre">
                                    <span *ngIf="formularioModificacion.controls['nombre'].touched && formularioModificacion.get('nombre')?.hasError('required')" style="color: red;" role="alert">
                                       Nombre es inválido
                                   </span>
                                </div>
                              </div>
                              <div class="col-md-6 mt-3">
                                 <div class="form-group">
                                    <label for="apellido" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="apellido" formControlName="apellido">
                                    <span *ngIf="formularioModificacion.controls['apellido'].touched && formularioModificacion.get('apellido')?.hasError('required')" style="color: red;" role="alert">
                                       Apellido es requerido
                                   </span>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6 mt-3">
                                 <div class="form-group">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" formControlName="email">
                                    <span *ngIf="formularioModificacion.controls['email'].touched && formularioModificacion.get('email')?.hasError('required')" style="color: red;" role="alert">
                                       Email es requerido
                                   </span>
                                 </div>
                              </div>
                              <div class="col-md-6 mt-3">
                                 <div class="form-group">
                                    <label for="telefono" class="form-label">Teléfono</label>
                                    <input type="number" class="form-control" id="telefono" formControlName="telefono">
                                    <span *ngIf="formularioModificacion.controls['telefono'].touched && formularioModificacion.get('telefono')?.hasError('required')" style="color: red;" role="alert">
                                       Teléfono es requerido
                                   </span>
                                </div>
                              </div>
                           </div>

                           <div class="row">
                              <div class="col-md-6 mt-3">
                                 <div class="form-group">
                                    <label for="nro_documento" class="form-label">Número de documento</label>
                                    <input type="number" class="form-control" id="nro_documento" formControlName="nro_documento">
                                    <span *ngIf="formularioModificacion.controls['nro_documento'].touched && formularioModificacion.get('nro_documento')?.hasError('required')" style="color: red;" role="alert">
                                       Número de documento es requerido
                                   </span>
                                 </div>
                              </div>

                              <div class="col-md-6 mt-3" *ngIf="usuario.idrol == 5">
                                 <div class="form-group">
                                    <label for="idarea" class="form-label">Seleccione un área</label>
                                    <select class="form-control" formControlName="idarea">
                                       <option *ngFor="let area of areas" [value]="area.idarea">{{area.nombre}}</option>
                                    </select>
                                    <span *ngIf="formularioModificacion.controls['idarea'].touched && formularioModificacion.get('idarea')?.hasError('required')" style="color: red;" role="alert">
                                       Área es inválida
                                   </span>
                                 </div>
                              </div>
                           </div>

                           <div class="direccion" *ngIf="usuario.idrol == 5">
                              <div class="card-header mx-5">
                                 <div class="card'title">Dirección:</div>
                              </div>
                              <br>
                              <div class="row mx-5">
                                 <div class="col-md-4">
                                    <div class="form-group">
                                       <label for="calle" class="form-label">Calle</label>
                                       <input type="text" class="form-control" id="calle" formControlName="calle">
                                       <span *ngIf="formularioModificacion.controls['calle'].touched && formularioModificacion.get('calle')?.hasError('required')" style="color: red;" role="alert">
                                          Calle es inválida
                                      </span>
                                   </div>
                                 </div>
                                 <div class="col-md-4">
                                    <div class="form-group">
                                       <label for="altura" class="form-label">Altura</label>
                                       <input type="number" class="form-control" id="altura" formControlName="altura">
                                       <span *ngIf="formularioModificacion.controls['altura'].touched && formularioModificacion.get('altura')?.hasError('required')" style="color: red;" role="alert">
                                          Altura es inválida
                                      </span>
                                   </div>
                                 </div>
                                 <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="idpais" class="form-label">País:</label>
                                        <select class="form-control" formControlName="idpais">
                                            <option *ngFor="let pais of paises" [value]="pais.idpais" idpais="pais.idpais">{{pais.nombre}}</option>
                                        </select>
                                        <span *ngIf="formularioModificacion.controls['idpais'].touched && formularioModificacion.get('idpais')?.hasError('required')" style="color: red;" role="alert">
                                          País es inválido
                                      </span>
                                    </div>
                                </div>
                              </div>
                                   
                              <div class="row mx-5 my-3">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="idprovincia" class="form-label">Provincia:</label>
                                        <select class="form-control" formControlName="idprovincia">
                                            <option *ngFor="let provincia of provincias" [value]="provincia.idprovincia" idprovincia="provincia.idprovincia">{{provincia.nombre}}</option>
                                        </select>
                                        <span *ngIf="formularioModificacion.controls['idprovincia'].touched && formularioModificacion.get('idprovincia')?.hasError('required')" style="color: red;" role="alert">
                                          Provincia es inválida
                                      </span>
                                    </div>
                                </div>
                                 <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="idlocalidad" class="form-label">Localidad:</label>
                                        <select class="form-control" formControlName="idlocalidad">
                                            <option *ngFor="let localidad of localidades" [value]="localidad.idlocalidad" idlocalidad="localidad.idlocalidad">{{localidad.nombre}}</option>
                                        </select>
                                        <span *ngIf="formularioModificacion.controls['idlocalidad'].touched && formularioModificacion.get('idlocalidad')?.hasError('required')" style="color: red;" role="alert">
                                          Localidad es inválida
                                      </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="idbarrio" class="form-label">Barrio:</label>
                                        <select class="form-control" formControlName="idbarrio">
                                            <option *ngFor="let barrio of barrios" [value]="barrio.idbarrio" idbarrio="barrio.idbarrio">{{barrio.nombre}}</option>
                                        </select>
                                        <span *ngIf="formularioModificacion.controls['idbarrio'].touched && formularioModificacion.get('idbarrio')?.hasError('required')" style="color: red;" role="alert">
                                          Barrio es inválido
                                      </span>
                                    </div>
                                </div>
                              </div>
                           </div>

                           <div class="text-center">
                              <p *ngFor="let err of mensajeErrores" id="msgError" class="form-text" style="color: tomato;">{{err}}</p>
                           </div>

                           <div class="text-center">
                              <p id="msgError" class="form-text" *ngIf="mensajeError" style="color: tomato;">{{mensajeError}}</p>
                           </div>
                            
                            <div class="d-flex justify-content-center"> 
                              <button class="btn btn-primary text-center m-2" type="submit" (click)="actualizar()">Actualizar datos</button>
                              <button class="btn btn-dark text-center m-2" type="submit" (click)="cancelar()">Cancelar</button>
                           </div>

                         </form>
                      </div>
                      <div class="tab-pane fade pt-4" id="profile-change-password">
                        <form [formGroup]="formularioPassword">
                           <div class="row mb-3">
                              <div class="form-group">
                                 <label for="password" class="form-label">Nueva Contraseña</label>
                                 <input type="password" class="form-control" id="password" formControlName="password">
                                 <span *ngIf="formularioPassword.controls['password'].touched && formularioPassword.get('password')?.hasError('required')" style="color: red;" role="alert">
                                    Contraseña es requerida
                                </span>
                              </div>
                           </div>
                           <div class="row mb-3">
                              <div class="form-group">
                                 <label for="passwordReing" class="form-label">Reingrese Contraseña</label>
                                 <input type="password" class="form-control" id="paspasswordReingsword" formControlName="passwordReing">
                                 <span *ngIf="formularioPassword.controls['passwordReing'].touched && formularioPassword.get('passwordReing')?.hasError('required')" style="color: red;" role="alert">
                                    Contraseña es requerida
                                </span>
                              </div>
                           </div>
                           <div class="text-center">
                              <p id="msgError" class="form-text" *ngIf="mensajeErrorPass" style="color: tomato;">{{mensajeErrorPass}}</p>
                           </div>
                           <div class="d-flex justify-content-center"> 
                              <button class="btn btn-primary text-center m-2" type="submit" (click)="actualizarPassword()">Actualizar contraseña</button>
                              <button class="btn btn-dark text-center m-2" type="submit" (click)="cancelar()">Cancelar</button>
                           </div>
                           
                        </form>
                     </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>