<main id="main" class="main">
   <div class="pagetitle">
      <h1>Preguntas frecuentas</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Preguntas frecuentas</li>
         </ol>
      </nav>
   </div>
   <section class="section faq">
      <div class="row justify-content-center">
         <div class="col-lg-6">
            <div class="card">
               <div class="card-body">
                  <h5 class="card-title">Guía de preguntas frecuentes para usuarios</h5>
                  <div class="accordion accordion-flush" id="faq-group-1">
                     <div class="accordion-item">
                        <h2 class="accordion-header"> <button class="accordion-button collapsed"
                              data-bs-target="#faqsOne-1" type="button" data-bs-toggle="collapse"> ¿Cómo cambio mi
                              contraseña? </button></h2>
                        <div id="faqsOne-1" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                           <div class="accordion-body">
                              Para cambiar tu contraseña debes acceder a la opción Perfil del panel izquierdo, luego a
                              la sección Cambiar Contraseña. También puedes modificar otros datos de tu cuenta en este
                              apartado.
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header"> <button class="accordion-button collapsed"
                              data-bs-target="#faqsOne-2" type="button" data-bs-toggle="collapse"> ¿Cómo reservo un
                              espacio de oficina? </button></h2>
                        <div id="faqsOne-2" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                           <div class="accordion-body"> Debes dirigirte al apartado Espacios de oficina e ingresar a
                              la opción Reservar espacio, el sistema mostrará una lista de oficinas disponibles de tu
                              empresa. Al seleccionar la que desea solo debes ingresar una fecha y presionar la
                              ubicación que gustes. Podrás ver tus reservas desde la sección Mis reservas.</div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header"> <button class="accordion-button collapsed"
                              data-bs-target="#faqsOne-3" type="button" data-bs-toggle="collapse"> Realizar un nuevo
                              pedido de insumo o producto. </button></h2>
                        <div id="faqsOne-3" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                           <div class="accordion-body"> Para realizar un nuevo pedido debes ingresar a Gestionar
                              pedidos del panel izquierdo y seleccionar la opción Nuevo pedido. Una vez dentro podrás
                              buscar por producto o proveedor la opción que estás buscando. Seleccionar la cantidad y
                              presionar el botón solicitar.
                              Esta solicitud generará un pedido que debe ser aprobado por un autorizante de tu
                              empresa.
                              Podrás ver el listado de pedidos realizados des de la sección Pedidos realizados.
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header"> <button class="accordion-button collapsed"
                              data-bs-target="#faqsOne-4" type="button" data-bs-toggle="collapse"> Crear una empresa o
                              asociarme a una existente en cuentas de tipo empresa o proveedor. </button></h2>
                        <div id="faqsOne-4" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                           <div class="accordion-body"> Para comenzar a operar con tu cuenta debes crear una empresa o
                              asociarte a una existente. Para ello debes dirigirte al panel izquierdo e ingresar a
                              Administrar y luego a Empresa. Podrás buscar la empresa a la que quieras asociarte (se
                              enviará una solicitud que debe ser aceptada por una cuenta del tipo empresa que ya
                              pertenezca a dicha empresa) o crear tu propia empresa.</div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header"> <button class="accordion-button collapsed"
                              data-bs-target="#faqsOne-5" type="button" data-bs-toggle="collapse"> ¿Cómo agregar
                              empleados desde una cuenta de tipo empresa? </button></h2>
                        <div id="faqsOne-5" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                           <div class="accordion-body"> Acceder a Administrar e ingresar a la sección Empleados,
                              podrás crear uno nuevo desde Nuevo Empleado con la posibilidad de cargarlos de forma
                              masiva (se provee un template que contiene los datos y la forma de carga), podrás
                              modificarlos o eliminarlos.
                              De la misma forma podrás crear empleados que servirán de autorizantes a los pedidos
                              realizados por otros empleados (encargar esta tarea a empleados de tipo gestión y ventas)
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header"> <button class="accordion-button collapsed"
                              data-bs-target="#faqsOne-6" type="button" data-bs-toggle="collapse"> Autorizar compras de
                              insumos o productos. </button></h2>
                        <div id="faqsOne-6" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                           <div class="accordion-body"> Desde la sección Gestionar del panel izquierdo, en
                              Solicitudes, podrás ver la lista de solicitudes que los empleados han realizado para la
                              compra de insumos o productos. Siendo un autorizante con cuenta del tipo Gestión IT podrás
                              autorizar o rechazar en primera instancia solo aquellas solicitudes que se encuentran en
                              estado Pendiente Gestión. De la misma forma un autorizante con cuenta del tipo Ventas
                              podrá autorizar o rechazar aquellas que se encuentren como pendiente Ventas.</div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header"> <button class="accordion-button collapsed"
                              data-bs-target="#faqsOne-7" type="button" data-bs-toggle="collapse"> ¿Cómo genero un
                              vínculo entre mi empresa y un proveedor? </button></h2>
                        <div id="faqsOne-7" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                           <div class="accordion-body"> Desde el apartado Contratos que aparece en Administrar del
                              panel izquierdo, con una cuenta del tipo Gestión IT, podrás acceder a la lista de
                              proveedores que se encuentran registrados en el sistema con los cuales podrás vincular tu
                              empresa. En Nuevo contrato podrás enviar una solicitud de vinculación a tu proveedor
                              elegido (sus datos aparecerán en la lista para que puedas ponerte en contacto con ellos).
                              Al volver en la sección Solicitudes pendientes podrás cancelar la solicitud que hayas
                              enviado y desees cancelar.
                              Una vez que el proveedor acepte la solicitud enviada, los empleados de tu empresa podrán
                              comenzar a solicitar insumos o productos de dicho proveedor.
                              Desde el listado principal del apartado Contratos podrás ver tus contratos vigentes
                              (vínculos con tus proveedores) y podrás darlos de baja.
                              Con una cuenta de tipo Proveedor podrás aceptar o rechazar las solicitudes de
                              vinculación desde el apartado Contratos en la sección Administrar.</div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header"> <button class="accordion-button collapsed"
                              data-bs-target="#faqsOne-8" type="button" data-bs-toggle="collapse"> ¿Cómo crear nuevos
                              espacios de oficina? </button></h2>
                        <div id="faqsOne-8" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                           <div class="accordion-body"> Con una cuenta del tipo Gestión IT podrás acceder a la sección
                              Espacios dentro de Administrar. Dentro podrás ingresar los datos de una nueva oficina,
                              modificar alguna existente o eliminarla.</div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header"> <button class="accordion-button collapsed"
                              data-bs-target="#faqsOne-9" type="button" data-bs-toggle="collapse"> ¿Cómo crear nuevos
                              productos con cuenta de tipo Proveedor? </button></h2>
                        <div id="faqsOne-9" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                           <div class="accordion-body"> Para crear productos debes dirigirte a Administrar, luego
                              Producto. En principio aparecerá una lista de productos ya cargados los cuales podrás
                              modificar o eliminar. Para crear uno nuevo debes presionar el botón Nuevo Producto y
                              cargar los datos solicitados.</div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header"> <button class="accordion-button collapsed"
                              data-bs-target="#faqsOne-10" type="button" data-bs-toggle="collapse"> Aprobar o rechazar
                              pedidos desde una cuenta de tipo Proveedor </button></h2>
                        <div id="faqsOne-10" class="accordion-collapse collapse" data-bs-parent="#faq-group-1">
                           <div class="accordion-body"> En la sección Gestionar se encuentra el apartado Pedidos donde
                              podrás ver la lista de pedidos realizados por los empleados de cada una de las empresas
                              con las que se encuentra vinculada. Ingresando a cada pedido se podrán aceptar o rechazar
                              los mismo, como así ver el detalle de cada uno.</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>