
<div class="container">
    <div class="row d-flex justify-content-center align-items-center" style="height: 100vh">
        
        <div class="col-md-4">

            <div class="card text-dark">
                <div class="card-body text-center">
                    <form [formGroup]="formularioLogin">
                        <img class="mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Ingreso</h1>

                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="email" formControlName="email">
                            
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
                        </div>

                        <p id="msgError" class="form-text" *ngIf="mensajeError" style="color: tomato;">{{mensajeError}}</p>
                        
                        <div class="row d-flex px-3">
                            <button class="btn btn btn-primary ml-auto" type="submit" (click)="onLogin()">Log in</button>
                        </div>
                        
                        <p class="mt-5 mb-3">O puedes crear una cuenta presionado el siguiente botón</p>
                        <div class="row d-flex px-3">
                            <button class="btn btn-light mx-auto" type="button" routerLink="/auth/registro">Crear cuenta</button>
                        </div>
                        
                        <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


