<section class="section">
    <div class="row justify-content-center">
       <div class="col-lg-6">
          <div class="card">
            <div class="card-header mx-5 mt-3">
                <div class="card'title">Administar áreas de la empresa: {{empresa.nombre}}</div>
                </div>
            <div class="card-body mx-5 mt-3">
                <form [formGroup]="formularioAlta" class="row g-3 mt-2">
                    <div class="input-group mb-3">
                       <input type="search" class="form-control" placeholder="Ingrese el nombre de la nueva área" formControlName="nombre">
                       <div class="input-group-append">
                         <button class="btn btn-outline-secondary" type="button" id="buscar" (click)="agregar()">Agregar</button>
                       </div>
                    </div>
                 </form>

                 <div class="text-center">
                    <p id="msgError" class="form-text" *ngIf="mensajeError" style="color: tomato;">{{mensajeError}}</p>
                 </div>

                 <div class="row justify-content-center mt-4">
                    <div class="col-md-8">
                        <table class="table">
                            <tbody>
                              <tr *ngFor="let area of areas | paginate: { itemsPerPage: 10, currentPage: p }">
                                <td >{{area.nombre}}</td>
                                <td class="right">
                                    <button class="btn btn-primary btn-sm mx-1" (click)="eliminar(area.idarea)"><i class="bi bi-trash"></i></button>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                     </div>
                 </div>

                 <div class="row justify-content-center">
                    <div class="text-center">
                       <button class="btn btn-dark mt-4" type="submit" (click)="cancelar()">Volver</button>
                    </div>
                 </div>

            </div>
          </div>
       </div>
    </div>
 </section>
