<section class="section">
    <div class="row justify-content-center">
       <div class="col-lg-6">
          <div class="card">
             <div class="card-body mx-5 my-5">

                <div class="row justify-content-center">

                    <div class="col-md-6 text-center" style="font-size: x-large;">
                        <p>Solicitud de vinculación pendiente con empresa: {{empresa.nombre}}</p>
                        <p>Si desea puede cancelar la misma</p>
                        <button class="btn btn-danger" (click)="cancelarSolicitud()">Cancelar solicitud</button>
                    </div>

                </div>
               
             </div>
          </div>
       </div>
    </div>
 </section>
