<div class="row justify-content-center my-5">
    <div class="col-md-10">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenido!</h1>
            <p class="lead">Le damos la bienvenida al sistema de gestión de stock en insumos y productos para la oficina. Recuerda que también pudes gestionar tus espacios de trabajo en oficinas. 😁</p>
            <hr class="my-4">
            <p>Para comenzar a utilizar el sistema, se recomienda en principio accedar a la sección de preguntas frecuentes.</p>
            <a class="btn btn-primary btn-lg" [routerLink]="['/pages/pages-faq']" role="button">Ir a F.A.Q.</a>
          </div>
    </div>
</div>