<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link " routerLink="/pages/dashboard"> <i class="bi bi-grid"></i> <span>Principal</span> </a></li>
       <li class="nav-item" *ngIf="idrol == 1">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse"> <i class="bi bi-menu-button-wide"></i><span>Administrar</span><i class="bi bi-chevron-down ms-auto"></i> </a>
          <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
             <li> <a routerLink="/pages/empresa"> <i class="bi bi-circle"></i><span>Empresa</span> </a></li>
             <li> <a routerLink="/pages/empleados"> <i class="bi bi-circle"></i><span>Empleados</span> </a></li>
             <li> <a routerLink="/pages/autorizantes"> <i class="bi bi-circle"></i><span>Autorizantes</span> </a></li>
          </ul>
       </li>
       <li class="nav-item" *ngIf="idrol == 1">
         <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse"> <i class="bi bi-journal-text"></i><span>Gestionar</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/pages/solicitudes-usr-empresa"> <i class="bi bi-circle"></i><span>Solicitudes</span> </a></li>
         </ul>
      </li>
       <li class="nav-item" *ngIf="idrol == 2">
         <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse"> <i class="bi bi-menu-button-wide"></i><span>Administrar</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/pages/proveedores"> <i class="bi bi-circle"></i><span>Contratos</span> </a></li>
            <li> <a routerLink="/pages/espacios-gestion"> <i class="bi bi-circle"></i><span>Espacios</span> </a></li>
         </ul>
      </li>
      <li class="nav-item" *ngIf="idrol == 2">
         <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse"> <i class="bi bi-journal-text"></i><span>Gestionar</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/pages/solicitudes-gestion-it"> <i class="bi bi-circle"></i><span>Solicitudes</span> </a></li>
         </ul>
      </li>
      <li class="nav-item" *ngIf="idrol == 3">
         <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse"> <i class="bi bi-journal-text"></i><span>Gestionar</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/pages/solicitudes-ventas"> <i class="bi bi-circle"></i><span>Solicitudes</span> </a></li>
         </ul>
      </li>
       <li class="nav-item" *ngIf="idrol == 4">
         <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse"> <i class="bi bi-menu-button-wide"></i><span>Administrar</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/pages/proveedor"> <i class="bi bi-circle"></i><span>Empresa</span> </a></li>
            <li> <a routerLink="/pages/producto"> <i class="bi bi-circle"></i><span>Producto</span> </a></li>
            <li> <a routerLink="/pages/contrato"> <i class="bi bi-circle"></i><span>Contratos</span> </a></li>
         </ul>
      </li>
      <li class="nav-item" *ngIf="idrol == 4">
         <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse"> <i class="bi bi-journal-text"></i><span>Gestionar</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/pages/pedidos-proveedor"> <i class="bi bi-circle"></i><span>Pedidos</span> </a></li>
            <li> <a routerLink="/pages/solicitudes-usr-proveedor"> <i class="bi bi-circle"></i><span>Solicitudes</span> </a></li>
         </ul>
      </li>
      <li class="nav-item" *ngIf="idrol == 5">
         <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse"> <i class="bi bi-building"></i><span>Espacios de oficina</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/pages/espacios-empleado"> <i class="bi bi-circle"></i><span>Reservar espacio</span> </a></li>
            <li> <a routerLink="/pages/reservas-empleado"> <i class="bi bi-circle"></i><span>Mis reservas</span> </a></li>
         </ul>
      </li>
       <li class="nav-item" *ngIf="idrol == 5">
          <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse"> <i class="bi bi-journal-text"></i><span>Gestionar pedidos</span><i class="bi bi-chevron-down ms-auto"></i> </a>
          <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
             <li> <a routerLink="/pages/pedidos"> <i class="bi bi-circle"></i><span>Nuevo pedido</span> </a></li>
             <li> <a routerLink="/pages/solicitudes-empleado"> <i class="bi bi-circle"></i><span>Pedidos realizados</span> </a></li>
          </ul>
       </li>
       <li class="nav-heading">Páginas</li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages/user-profile"> <i class="bi bi-person"></i> <span>Perfil</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages/pages-faq"> <i class="bi bi-question-circle"></i> <span>F.A.Q</span> </a></li>
    </ul>
 </aside>