<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-md-10 d-flex flex-column align-items-center justify-content-center">
                   <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">Bluu Manager</span> </a></div>
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Crear una cuenta</h5>
                            <br>
                            <p class="text-center small">Ingrese su informacion para crear una cuenta</p>
                         </div>
                         <form [formGroup]="formularioAlta" class="row g-3" novalidate>

                           <div class="row">
                              <div class="col-md-6 mt-3">
                                 <div class="form-group">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" formControlName="nombre">
                                    <span *ngIf="formularioAlta.controls['nombre'].touched && formularioAlta.get('nombre')?.hasError('required')" style="color: red;" role="alert">
                                       Nombre es inválido
                                   </span>
                                </div>
                              </div>
                              <div class="col-md-6 mt-3">
                                 <div class="form-group">
                                    <label for="apellido" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="apellido" formControlName="apellido">
                                    <span *ngIf="formularioAlta.controls['apellido'].touched && formularioAlta.get('apellido')?.hasError('required')" style="color: red;" role="alert">
                                       Apellido es requerido
                                   </span>
                                 </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6 mt-3">
                                 <div class="form-group">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" formControlName="email">
                                    <span *ngIf="formularioAlta.controls['email'].touched && formularioAlta.get('email')?.hasError('required')" style="color: red;" role="alert">
                                       Email es requerido
                                   </span>
                                 </div>
                              </div>
                              <div class="col-md-6 mt-3">
                                 <div class="form-group">
                                    <label for="password" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" id="password" formControlName="password">
                                    <span *ngIf="formularioAlta.controls['password'].touched && formularioAlta.get('password')?.hasError('required')" style="color: red;" role="alert">
                                       Contraseña es requerida
                                   </span>
                                 </div>
                              </div>
                           </div>

                           <div class="row">
                              <div class="col-md-6 mt-3">
                                 <div class="form-group">
                                    <label for="telefono" class="form-label">Teléfono</label>
                                    <input type="number" class="form-control" id="telefono" formControlName="telefono">
                                    <span *ngIf="formularioAlta.controls['telefono'].touched && formularioAlta.get('telefono')?.hasError('required')" style="color: red;" role="alert">
                                       Teléfono es requerido
                                   </span>
                                </div>
                              </div>
                              <div class="col-md-6 mt-3">
                                 <div class="form-group">
                                    <label for="nro_documento" class="form-label">Número de documento</label>
                                    <input type="number" class="form-control" id="nro_documento" formControlName="nro_documento">
                                    <span *ngIf="formularioAlta.controls['nro_documento'].touched && formularioAlta.get('nro_documento')?.hasError('required')" style="color: red;" role="alert">
                                       Número de documento es requerido
                                   </span>
                                 </div>
                              </div>
                           </div>
                                
                           <div class="row">
                              <div class="col-md-6 mt-3">
                                 <div class="form-group">
                                    <label for="idrol">Seleccione un rol</label>
                                    <select class="form-control mt-2" formControlName="idrol">
                                       <option *ngFor="let rol of roles" [value]="rol.idrol">{{rol.nombre}}</option>
                                    </select>
                                 </div>
                              </div>
                           </div>

                           <div class="text-center">
                              <p *ngFor="let err of mensajeErrores" id="msgError" class="form-text" style="color: tomato;">{{err}}</p>
                           </div>

                           <div class="text-center">
                              <p id="msgError" class="form-text" *ngIf="mensajeError" style="color: tomato;">{{mensajeError}}</p>
                           </div>
                            
                            <div class="col-12 d-flex px-3"> <button class="btn btn-primary mx-auto" type="submit" (click)="guardar()">Crear cuenta</button></div>
                            <div class="col-12 my-4 d-flex px-3">
                               <p class="small mb-0 mx-auto">Ya tienes una cuenta? <a routerLink="/pages-login">Ingresar</a></p>
                            </div>
                         </form>
                      </div>
                   </div>
                  <p class="text-muted">&copy; Bluu Manager 2023</p>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>