<section class="section">
    <div class="row justify-content-center">
       <div class="col-lg-6">
          <div class="card">
             <div class="card-body mx-5 my-5">

                <div class="row justify-content-center">

                    <div class="col-md-6 text-center" style="font-size: x-large;">
                        <p>Primero debe vincular su cuenta a una empresa</p>
                        <a [routerLink]="['/pages/empresa/main']">ir a empresas</a>
                    </div>

                </div>
               
             </div>
          </div>
       </div>
    </div>
 </section>

