<div class="row justify-content-center">
    <div class="col-md-12">

        <div class="card mb-3">
            <div class="card-header d-flex mx-5" *ngIf="solicitud">
                <div class="card'title">Detalle del pedido de: {{solicitud.pedido.datosEmpleado.nombre}} {{solicitud.pedido.datosEmpleado.apellido}}</div>
                <div class="ms-auto">
                    <button class="btn btn-sm btn-dark m-1" [routerLink]="['/pages/pedidos-proveedor/lista']">Volver</button>
                </div>
             </div>
            <div class="row justify-content-center" *ngIf="solicitud">
                <div class="col-md-8" >
                    <div class="row no-gutters justify-content-center">
                        
                        <div class="col-md-12 mt-2 text-center">
                          <div class="card-body">

                            <div class="producto mb-5">
                                <div class="card-header mx-5">
                                   <div class="card'title">Producto:</div>
                                </div>
                                <br>
                                <div class="row mx-5">
                                    <h5 class="card-title">{{solicitud.pedido.producto.nombreProducto}}</h5>
                                    <div class="mb-2">
                                        <img src="{{solicitud.pedido.producto.imagen}}" width="10%">
                                    </div>
                                    <p class="card-text"><small class="text-muted">Descripción: {{solicitud.pedido.producto.descripcion}}</small></p>
                                    <p class="card-text"><small class="text-muted">Cantidad: {{solicitud.pedido.producto.cantidad}}</small></p>
                                    <p class="card-text"><small class="text-muted">Precio por unidad: ${{solicitud.pedido.producto.precioUnitario}}</small></p>
                                </div>
                             </div>


                             <div class="empresa mb-5">
                                <div class="card-header mx-5">
                                   <div class="card'title">Empresa:</div>
                                </div>
                                <br>
                                <div class="row mx-5">
                                    <p class="card-text"><small class="text-muted">Nombre: {{solicitud.pedido.datosEmpresa.nombre}} - CUIT: {{solicitud.pedido.datosEmpresa.cuit}}</small></p>

                                </div>
                             </div>
                            
                            
                             <div class="comprador mb-5">
                                <div class="card-header mx-5">
                                   <div class="card'title">Comprador:</div>
                                </div>
                                <br>
                                <div class="row mx-5">
                                    <p class="card-text"><small class="text-muted">Nombre: {{solicitud.pedido.datosEmpleado.nombre +' '+solicitud.pedido.datosEmpleado.apellido}}</small></p>
                                    <p class="card-text"><small class="text-muted">Documento: {{solicitud.pedido.datosEmpleado.nro_documento}}</small></p>
                                    <p class="card-text"><small class="text-muted">Dirección: {{solicitud.pedido.datosEmpleado.direccion}}</small></p>
                                </div>
                             </div>


                            <p class="card-text"><small class="text-muted">Fecha del pedido: {{solicitud.pedido.fecha | date:'d/M/yy HH:mm:ss'}}</small></p>
                            <p class="card-text">
                                <small class="text-muted">Valor total de compra: 
                                    <h3 class="card-title">${{solicitud.pedido.producto.precioUnitario * solicitud.pedido.producto.cantidad}}</h3>
                                </small>
                            </p>
                            <p class="card-text"><small class="text-muted">Estado: <span class="text-white badge" [ngClass]="{
                                'bg-warning':solicitud.solicitud.estado.idestado == 3,
                                'bg-info':solicitud.solicitud.estado.idestado == 6,
                                'bg-success':solicitud.solicitud.estado.idestado === 7,
                                'bg-danger':solicitud.solicitud.estado.idestado == 8
                            }">{{solicitud.solicitud.estado.descripcion | nombreEstados}}</span></small></p>

                            <div class="row my-5" *ngIf="solicitud.solicitud.estado.idestado == 3">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary" (click)="aprobar()">Marcar como enviado</button>
                                    <button type="button" class="btn btn-danger mx-1" (click)="rechazar()">Rechazar</button>
                                </div>
                             </div>

                             <div class="row my-5" *ngIf="solicitud.solicitud.estado.idestado == 6">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary" (click)="entregar()">Marcar como entregado</button>
                                </div>
                             </div>
            
                          </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>

    </div>
</div>


